.pageContainer {
    height: 100vh;
    position: relative;
}

.background {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    background: url('../assets/images/authenticationBG.jpg') no-repeat;
    background-size: cover;
    filter: blur(2px);
}

.gridContainer {
    min-height: 100vh;
}

.formContainer {
    background-color: var(--formColor);
    border-radius: 12px;
    border-bottom-left-radius: 0;
    padding: 40px !important;
    position: relative;
}

.errorAlert {
    position: absolute;
    bottom: 0px;
    right: 0;
    width: auto;
}