.pageContainer {
    height: 100vh;
    position: relative;
}

.background {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: url('../assets/images/authenticationBG.jpg') center center no-repeat;
    background-size: cover;
    filter: blur(3px);
}

.gridContainer {
    min-height: 100vh;
}

.formContainer {
    background-color: var(--formColor);
    border-radius: 12px;
    padding: 40px !important;
    position: relative;
}

.errorAlert {
    position: absolute;
    bottom: 0px;
    right: 0;
    width: calc(100% - 10px);
    padding: 10px 5px !important;
}