.header {
    z-index: 21;
    position: fixed;
    top: 0;
    width: 100%;
}

.mainBox {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.mainContainer {
    margin-top: 100px;
}

.textField {
    width: 60%;
    min-width: 60px;
    text-overflow: ellipsis;
}

.editButton {
    min-width: 130px;
    height: 40px;
    margin-left: 20px;
}

.spaceBetween {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}