.mainBox {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    z-index: 21;
    position: fixed;
    top: 0;
    width: 100%;
}

.justifyContent {
    display: flex;
    justify-content: center;
}

.mt_5 {
    margin-top: 7rem;
}

.mainContainer {
    margin-top: 100px;
}

.nextOrFinishButton {
    background-color: var(--mainColor) !important;
    color: white !important;
}