.mainMargin {
    margin-left: 18px;
    margin-right: 18px;
    background-color: rgba(0, 0, 0, 0.521);
}

.mt {
    margin-top: 15px !important;
}

.subtotal {
    font-weight: 600 !important;
}

.mainSubtotal {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
}

.dialogContainer {
    border: 2px solid var(--mainColor);
}

.dialogContainer h5 {
    color: white;
    padding: 10px;
}

.titleContainer {
    background-color: var(--mainColor);
    color: white;
    width: 100%;
}

.titleBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--mainColor);
}

.cartIcon {
    color: white;
    margin-right: 20px;
}

.dialogActionButtons {
    background-color: var(--mainColor);
    color: white;
}