:root {
    --bgColor: #fcfcfc1f;
    --formColor: #000000cb;
    --mainColor: #5bb6de;
}

.App {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bgColor);
}

.App::after,
.App::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carouselLAndN .css-1abc02a button,
.carouselLAndN .css-hn784z button {
    opacity: 1;
}

.carouselLAndN .css-1m9128y {
    margin-top: 20px !important;
}